Repository mercadopago/px-ios, pull requests merged in 2018-11, with the labels that each got.

#1696 Payment for one tap
  MercadoPagoSDK/MercadoPagoSDK/Core/Checkout/Extensions/MercadoPagoCheckoutScreens.swift
  MercadoPagoSDK/MercadoPagoSDK/Core/Checkout/ViewModel/MercadoPagoCheckoutViewModel+Plugins.swift
  MercadoPagoSDK/MercadoPagoSDK/Flows/OneTap/OneTapFlow+Screens.swift
  MercadoPagoSDK/MercadoPagoSDK/Flows/OneTap/OneTapFlow.swift
  MercadoPagoSDK/MercadoPagoSDK/Flows/OneTap/OneTapFlowModel.swift
  MercadoPagoSDK/MercadoPagoSDK/Flows/OneTap/UI/PXOneTapViewController.swift
  MercadoPagoSDK/MercadoPagoSDK/Flows/OneTap/UI/PXOneTapViewModel.swift
  MercadoPagoSDK/MercadoPagoSDK/PaymentMethodPlugins/PXPaymentMethodPlugin.swift
  MercadoPagoSDK/MercadoPagoSDK/UI/PXCardSlider/PXCardSlider.swift
  MercadoPagoSDK/MercadoPagoSDK/UI/PXCardSlider/PXCardSliderViewModel.swift
Labels: OneTap

#1697 One tap/add card bug
  MercadoPagoSDK/MercadoPagoSDK/Core/Extensions/UIView+Additions.swift
  MercadoPagoSDK/MercadoPagoSDK/Flows/OneTap/UI/PXOneTapHeaderMerchantView.swift
  MercadoPagoSDK/MercadoPagoSDK/UI/PXCard/DefaultCards/AccountMoneyCard.swift
  MercadoPagoSDK/MercadoPagoSDK/UI/PXCard/DefaultCards/EmptyCard.swift
Labels: OneTap

#1721 Add ServiceLayer for Alamofire request
  MercadoPagoSDK/MercadoPagoSDK/Services/Alamofire/Alamofire+PXServiceLayer.swift
  MercadoPagoSDK/MercadoPagoSDK/Services/Alamofire/Alamofire.swift
  MercadoPagoSDK/MercadoPagoSDK/Services/Services/MercadoPagoService.swift
Labels: DO NOT MERGE, Type: Enhancement

#1729 OneTap :: Hide arrow with one installment
  MercadoPagoSDK/MercadoPagoSDK/Flows/OneTap/UI/PXOneTapViewModel.swift
Labels: DO NOT MERGE
